body{
 background-image: url(images/spiration-light.png);
}
.container_navbar{ width:960px;
    margin-left: 300px;
  
}

.containerNav{
    max-width: 100%;
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    margin-bottom: 20px;

}    

#name{
    background:#4aaaa5;
    text-align: center;
    color:#ffffff;
    font-size:24px;
    font-family:'Georgia', Times, 'Times New Roman', Times, serif;
    padding: 10px;
    margin-right: 300px;
}

#AboutMe{
    max-width: 960px;
    height: 400px;
    margin-left: 190px;
    margin-right:190px;
    background:#ffffff;
    border-style: solid;
    border-color:#dddddd;

}

#AboutTitle{
    color:#4aaaa5;
    font-family:'Georgia', Times, 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-color:#dddddd; 
    padding:15px;
    margin-bottom: 35px;
}

p{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    font-size:14px; 
    margin-left:15px;
}

#profilepic{
    width:200px;
    height:200px;
    margin-right:20px;
    margin-left:20px;
}

#Contact{
    max-width: 960px;
    height: 450px;
    margin-left: 190px;
    margin-right:190px;
    background:#ffffff;
    border-style: solid;
    border-color:#dddddd;

}

#ContactTitle{
    color:#4aaaa5;
    font-family:'Georgia', Times, 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-color:#dddddd; 
    padding:15px;

}

#btn{
    background-color: #4aaaa5;
    color:#ffffff;
    border-color: #4aaaa5;
    margin-left: 15px;
}

.container_portfolio{
    max-width: 960px;
    height: 450px;
    margin-left: 190px;
    margin-right:190px;
    background:#ffffff;
    border-style: solid;
    border-color:#dddddd;
}

#Portfolio{
    color:#4aaaa5;
    font-family:'Georgia', Times, 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-color:#dddddd; 
    padding:15px;
}

.row{
    margin-bottom: 15px;
}
.container_portfolio{
    position: relative;
}
h3{
    position: absolute;
    top: 50px;
    left:0;
    background-color: #4aaaa5;
    color:#ffffff;
    text-align: center;
    padding:5px;
    font-size:14px;
    font-weight: normal;
    width:84%;
    margin-left:20px;
    margin-top:75px;
}

#footer{
    width:100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: #4aaaa5;
    border-top-style: solid;
    padding:20px;
}